@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resest Styles */

* {
  font-family: "Basier Circle";
}
html,
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "Basier Circle";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BasierSquare-Regular.woff");
}
@font-face {
  font-family: "Basier Circle";
  font-weight: 600;
  src: url("../fonts/Basier\ Square\ SemiBold.otf");
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
}
.main {
  background-color: #f7f9fa;
}

@media only screen and (min-width: 1160px) {
  .android-header {
    border-radius: 0 0 24px 24px;
    min-height: 88px;
  }
}
