@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "google_Sans";
}
@font-face {
  font-family: "google_Sans";
  src: url("../fonts/Regular.ttf");
}
@font-face {
  font-family: "google_Sanss";
  src: url("../fonts/Medium.ttf");
}
@font-face {
  font-family: "google_Sansss";
  src: url("../fonts/Bold.ttf");
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.header {
  position: fixed;
  top: 0;
  transform: translateZ(0);
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 76%, 0.25);
  grid-template-rows: 70px;
  height: 88px;
  position: relative;
  width: 100%;
  z-index: 50;
}
.header::before {
  backdrop-filter: none;
  background: #fff;
  content: "";
  border-radius: 0 0 24px 24px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.header_wrapper {
  height: 100%;
  position: relative;
  z-index: 30;
}
.header_wrapper::before {
  opacity: 0;
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: opacity;
}
.header_container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
.logo {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  width: 104px;
}
.logo img {
  height: 18px;
  width: 104px;
  transform: translateY(0);
}
.navbar {
  text-align: right;
  flex-grow: 2;
  order: 2;
  margin-inline-end: 40px;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: auto;
}
.list {
  text-align: left;
  display: inline-flex;
  height: 100%;
  padding: 0;
  width: auto;
}
.list li {
  opacity: 1;
  transform: translateZ(0);
  align-items: center;
  height: 100%;
  margin: 0 8px 0 0;
  overflow: visible;
  padding: 0;
  display: flex;
}
.list li::before {
  background-color: #34a853;
  bottom: 15%;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: bottom left;
  width: 100%;
  will-change: transform;
}
.list li button {
  align-items: center;
  display: flex;
  font-size: 16px;
  padding: 6px;
  position: inherit;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  font-weight: 500;
  line-height: 24px;
  transition: color 0.2s ease-in;
  isolation: isolate;
  cursor: pointer;
}
.btn span {
  font-weight: 500;
  color: rgb(32, 33, 36);
  font-family: "google_Sanss";
}
.list li button .icon {
  margin-left: 4px;
  padding: 0;
  transition: 0.3s ease-in-out;
}
.list li:hover {
  .dropdown {
    opacity: 1;
    visibility: visible;
  }
  .icon {
    transform: rotate(180deg);
  }
  text-decoration: underline;
}

.dropdown {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 76%, 0.25);
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 88px;
  transform: scale(0.97);
  transition: 0.1s ease-in-out;
  visibility: hidden;
  z-index: 50;
}
.menu {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 30px;
  position: relative;
}
.menu_link {
  color: #000;
  font-weight: 400;
  line-height: 24px;
  padding: 6px;
  white-space: nowrap;
}
.menu_link:hover {
  text-decoration: underline;
}
.form {
  order: 3;
  z-index: 1;
  opacity: 1;
  transform: translateZ(0);
  max-width: 625px;
  margin-left: 0;
  overflow: initial;
  padding-top: 2px;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0;
  margin-right: 30px;
}
.search_btn {
  background: rgba(0, 0, 0, 0);
  appearance: none;
  border: 0;
  cursor: pointer;
  position: relative;
  right: 0;
  transition: color 0.3s linear;
  width: 34px;
}
.search_btn::after {
  content: "";
  height: 40px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 40px;
}
.search {
  height: 18px;
  width: 18px;
  color: #202124;
}
.search_btn:hover {
  opacity: 0.7;
}
.input {
  width: calc(100% - 95px);
  opacity: 1;
  display: none;
  width: 100%;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  color: #000;
  height: 24px;
  margin: 0 13px;
  outline: none;
  padding: 5px;
}
.cross_btn {
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
  display: none;
}
.cross_btn::after {
  content: "";
  height: 40px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 40px;
}
.cross {
  height: 32px;
  width: 32px;
  color: #000;
}
.shop_btn {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  order: 4;
  margin-right: 0 !important;
}
.btn_link {
  background-color: #202124;
  border: 1px solid #202124;
  color: #fff;
  border-radius: 30px;
  transition: all 0.3s;
}
.btn_link:hover {
  background-color: #fff;
  color: #000;
  .arrow_right {
    color: #000;
  }
}
.btn_link span {
  align-items: center;
  column-gap: 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  font-weight: 700;
  font-family: "google_Sansss";
  letter-spacing: 1px;
}
.arrow_right {
  color: #c6ff00;
  height: 24px;
  width: 24px;
}
.hero_cards {
  display: flex;
  gap: 30px;
  padding-top: 50px;
  margin-right: 0;
}
.hero_card {
  padding: 32px;
  border: 1px solid #dadce0;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 75px;
}
.hero_card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .hero_btn {
    background-color: #000;
    color: #fff;
  }
}
.left {
  flex: 1;
}
.left h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.25;
  margin-bottom: 16px;
}
.left h3 {
  color: #5f6368;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 16px;
  text-transform: uppercase;
}
.left p {
  font-size: 15px;
  font-weight: 500;
  margin: 16px 0 0;
  font-family: "Roboto", sans-serif;
}
.hero_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
  background: #fff;
  border: 2px solid #202124;
  border-radius: 96px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  height: 48px;
  line-height: 44px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 20px 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  text-align: center;
}
.main {
  background-color: #f7f9fa;
}
.t_card {
  gap: 55px;
  padding: 32px;
  border: 1px solid #dadce0;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.t_card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .btm {
    background-color: #000;
    color: #fff;
  }
}
.wrap {
  padding-top: 50px;
  padding-bottom: 20px;
}
.test {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 24px;
}
.test h3 {
  color: rgb(32, 33, 36);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}
.test a h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}
.box {
  height: 12px;
  width: 12px;
  background-color: #34a853;
}

.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq_wrap {
  padding: 24px 16px 24px 24px;
  background-color: #f7f9fa;
  border-radius: 10px;
}
.footer {
  border-top: 1px solid #dadce0;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.iteam {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.iteam a {
  font-weight: 500;
}
.iteam a:hover {
  text-decoration: underline;
}
.footer_list h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  pointer-events: none;
}
@media (min-width: 1440px) {
  .list li {
    margin: 0 32px 0 0;
  }
}

@media only screen and (min-width: 1160px) {
  .android-header {
    border-radius: 0 0 24px 24px;
    min-height: 88px;
  }
}
